.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
 }

 h1 {
  text-align: center;
 }

 input#password {
  float: right;
 }

 label.senha {
  float: 1cm;
 }

 body {
  background-color: rgb(88, 88, 90);
 }
